<!-- Header -->
header(class="navbar navbar-light bg-white header-custom")
    //- Hamburger icon
    div(class="hamburger-menu")
        span
        span
        span
    a(class="navbar-brand" href="/")
        img(
            src="img/logo.svg"
            class="d-inline-block align-top" 
            alt="Crew only logo" 
            loading="lazy"
        )
    div(class="d-flex justify-content-between align-items-center")
        img(
                src="img/icons/bell.svg"
                class="d-inline-block align-top notification-icon"
                alt="Bell icon" 
                loading="lazy"
            )
        div(class="header-divider")
        include ../components/user-card
        button(class="btn custom-header-btn")
            span Log out